<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form th:method="GET" th:action="@{/view/products}">
  <input type="submit" value="Products"/>
</form>

<form th:method="GET" th:action="@{/view/shops}">
  <input type="submit" value="Shops"/>
</form>

<form th:method="GET" th:action="@{/view/ords}">
  <input type="submit" value="Orders"/>
</form>

<form th:method="GET" th:action="@{/view/employees}">
  <input type="submit" value="Employees"/>
</form>
</body>
</html>