<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<form th:method="GET" th:action="@{/view}">
  <input type="submit" value="View"/>
</form>

<form th:method="GET" th:action="@{/edit}">
  <input type="submit" value="Edit"/>
</form>

<form th:method="GET" th:action="@{/report}">
  <input type="submit" value="Report"/>
</form>

<form th:method="GET" th:action="@{/order}">
  <input type="submit" value="Order"/>
</form>



</body>
</html>